<!--Inheriting layout template-->
{% extends "base.html" %}

<!--Content for the Home Page-->
{% block content %}
    <h1> CMP-6045B Developing Secure Software Group Assignment </h1>
    <p>
        This is our secure blog site for the CMP-6045B module group assignment.
        <br>
        The objective is to develop a secure blogging site that can defend against various attacks such as
        SQL Injection, Cross-Site Scripting, Cross-Site Request Forgery, Session Hi-jacking, and Account Enumeration.
    </p>
{% endblock content %}