<!--Inheriting layout template-->
{% extends "base.html" %}

<!--Content for the Home Page-->
{% block content %}
    <h1>Sign In</h1>
    <!--novalidate disables browser validation - can be removed once flask validation is tested and working-->
    <form action="{{ url_for('login') }}" method="post" novalidate>
        <p>
            {{ form.username.label }}
            <br>
            {{ form.username }}
            {% for error in form.username.errors %}
            <br>
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            <br>
            {{ form.password }}
            {% for error in form.password.errors %}
            <br>
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit }}
        </p>
    </form>
{% endblock content %}
